@using OpenEdAI.Client.Models

<div class="course-card" @onclick="NavigateToCourse" style="cursor:pointer;">
    <div class="course-card-header">
        <h2>@Course.Title</h2>
            <div class="delete-button" @onclick:stopPropagation @onclick="OnDelete"><i class="fas fa-trash"></i></div>

        <div class="progress-container">
            @if (Progress.CompletionPercentage < 100)
            {
                <div class="progress-circle">
                    <span>@Progress.CompletionPercentage%</span>
                </div>
            }
            else
            {
               <div style="border: 4px solid greenyellow" class="progress-circle">
                    <span>@Progress.CompletionPercentage%</span>
                </div>
            }
                    
            <small>Course Progress</small>
        </div>
        @if (Progress.CompletionPercentage == 100)
        {
            <div class="course-completed-badge">
                <p class="course-completed-label"><strong>Congratulations! You have completed this course!</strong></p>
            </div>
        }
    </div>

    <div class="course-card-body">
        <p class="description">@Course.Description</p>
        <!-- Hide the metadata for now
        <p><strong>Tags:</strong> @string.Join(", ", Course.Tags ?? new())</p>
        <p><small>Created by: <em>@Course.UserName</em></small></p>
        <p><small>Created: @Course.CreatedDate.ToShortDateString()</small></p>
        <p><small>Updated: @Course.UpdateDate.ToShortDateString()</small></p>
        -->
    </div>
</div>

@code {
	[Parameter] public CourseDTO Course { get; set; }
	[Parameter] public CourseProgressDTO Progress { get; set; }
	[Parameter] public EventCallback OnDelete { get; set; }

	[Inject] private NavigationManager Navigation { get; set; }

	private void NavigateToCourse()
	{
		Navigation.NavigateTo($"/course/{Course.CourseID}");
	}
}
