@using OpenEdAI.Client.Models

<div class="course-card">
    <div class="course-card-header">
        <h2>@Course.Title</h2>

        <div class="progress-container">
            <div class="progress-circle">
                <span>@Progress.CompletionPercentage%</span>
            </div>
            <small>Completed</small>
        </div>
    </div>

    <div class="course-card-body">
        <p class="description">@Course.Description</p>

        <p><strong>Tags:</strong> @string.Join(", ", Course.Tags ?? new())</p>
        <p><small>Created by: <em>@Course.UserName</em></small></p>
        <p><small>Created: @Course.CreatedDate.ToShortDateString()</small></p>
        <p><small>Updated: @Course.UpdateDate.ToShortDateString()</small></p>
    </div>
</div>

@code {
	[Parameter] public CourseDTO Course { get; set; }
	[Parameter] public CourseProgressDTO Progress { get; set; }

	[Inject] private NavigationManager Navigation { get; set; }

	private void NavigateToCourse()
	{
		Navigation.NavigateTo($"/course/{Course.CourseID}");
	}
}
